.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-popular {
  border: 2px solid var(--pico-card-background-color);
}

.table-popular th, .table-popular td {
  background-color: var(--pico-card-background-color);
}

.flex { display: flex; }
.flex-col { display: flex; flex-direction: column; }
.justify-center { justify-content: center; }
.items-center { align-items: center; }
.grow { flex-grow: 1; }
.grow-0 { flex-grow: 0; }
.block { display: block; }
.w-1\/2 { width: 50%; }
.w-1\/3 { width: 33.333333%; }
.w-2\/3 { width: 66.666667%; }
.w-full { width: 100%; }
.h-1\/2 { height: 50%; }
.h-1\/3 { height: 33.333333%; }
.h-2\/3 { height: 66.666667%; }
.h-full { height: 100%; }
.max-h-96 { max-height: 24rem; }
.max-h-fit { max-height: fit-content; }
.gap-2 { gap: 0.5rem; }
.gap-4 { gap: 1rem; }
.p-0 { padding: 0; }
.pt-0 { padding-top: 0; }
.pr-0 { padding-right: 0; }
.pb-0 { padding-bottom: 0; }
.pl-0 { padding-left: 0; }
.m-0 { margin: 0; }
.mt-0 { margin-top: 0; }
.mr-0 { margin-right: 0; }
.mb-0 { margin-bottom: 0; }
.ml-0 { margin-left: 0; }
.no-underline { text-decoration: none; }
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }